<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../../public/css/reset.css">
  <link rel="stylesheet" href="../../public/css/fonts.css">
  <link rel="stylesheet" href="../../public/css/style.css">
  <link rel="stylesheet" href="../../public/css/media.css">
</head>
<body>
  <header>
    <div class="top_header">
      <div class="contain">
          <div class="social">
            <a href="#" class="icon-vk"></a>
            <a href="#" class="icon-tw"></a>
            <a href="#"  class="icon-fb"></a>
            <a href="#" class="icon-reply-all"></a>
          </div>
      </div>
    </div>
    <div class="bot_header">
      <div class="contain">
        <div class="logo">logo</div>
        <div class="call_back"><i class="icon-fh_head"></i><a href="tel:+0800759359">0 800 759 359</a></div>
        <nav>
          <a href="#">Орендовать</a>
          <a href="#">Здать</a>
          <a href="#">Ваш отзыв</a>
          <a href="#">Контакты</a>
        </nav>
      </div>
    </div>
  </header>
  <div class="slider">
    
  </div>


</body>
</html>
